<div class="footer">
  <div class="wrapper p50 p20-small">
    <div class="wt-links">
      <ul>
        <li class="wt-links__first caps">
          <a href="#top" class="wt-links__link wt-links__logo-link">
            <img class="wt-links__logo" src="images/winding-tree-logo-v2.svg">
          </a>
        </li>
        <li class="wt-links__middle">
          <div class="wt-links__list">
            <h2 class="wt-links__title">Winding Tree</h2>
            <div class="mb15"><a href="/#downloads" class="wt-links__link">One Pager</a></div>
            <div class="mb15"><a href="/#downloads" class="wt-links__link">White Paper</a></div>
            <div class="mb15"><a href="#token" class="wt-links__link">Líf Token</a></div>
            <div class="mb15"><a href="#foundation" class="wt-links__link">Foundation</a></div>
            <div class="mb15"><a href="#team" class="wt-links__link">Team</a></div>
          </div>
        </li>
        <li class="wt-links__last">
          <h2 class="wt-links__title">Join Us</h2>
          <form action="//windingtree.us14.list-manage.com/subscribe/post?u=93dec359c99b9871f7330768c&id=2f41b0318a" method="post">
            <div class="mb15"><input class="wt-links__email" type="text" name="EMAIL" placeholder="Email address"></div>
            <div class="mb20"><input type="submit" value="Subscribe For Updates" class="btn btn--outline h40 wt-links__subscribe"></div>
          </form>
          <p>Join the discussion on the channels below</p>
          <ul class="wt-links__social social">
            <li><a href="https://github.com/windingtree"><img src="images/social/wt-social-github.svg" alt="Github"></a></li>
            <li><a href="https://t.me/windingtree"><img src="images/social/wt-social-telegram.svg" alt="Telegram"></a></li>
            <li><a href="https://windingtree.rocket.chat/"><img src="images/social/wt-social-rocketchat.svg" alt="Rocket.Chat"></a></li>
            <li><a href="https://reddit.com/r/windingtree"><img src="images/social/wt-social-reddit.svg" alt="Reddit"></a></li>
            <li><a href="https://bitcointalk.org/index.php?topic=1946065"><img src="images/social/wt-social-bitcoin.svg" alt="BitcoinTalk"></a></li>
            <li><a href="https://twitter.com/windingtree"><img src="images/social/wt-social-twitter.svg" alt="Twitter"></a></li>
            <li><a href="http://blog.windingtree.com/"><img src="images/social/wt-social-medium.svg" alt="Medium"></a></li>
            <li><a href="https://www.youtube.com/channel/UCFuemEOhCfenYMoNdjD0Aew"><img src="images/social/wt-social-youtube.svg" alt="YouTube"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
