<nav class="wt-diorama__nav">
  <ul class="wt-diorama__nav-links">
    <li class="wt-diorama__nav-winding-tree">
      <div>
      <a href="/" class="link no-padding">
        <img class="wt-diorama__logo" src="images/winding-tree-logo-v2.svg">
        <span class="caps">Winding Tree</span>
      </a>
      </div>
    </li>
    <li>
      <ul class="wt-diorama__big-menu">
        <li><a href="/#downloads" class="link">White Paper</a></li>
        <li><a href="/token-sale.html" class="link">Líf Token</a></li>
        <li><a href="/#team" class="link">Team</a></li>
        <li><a href="/token-sale.html#tge" class="wt-diorama__nav-token-sale link btn btn--token-sale">Join Token Sale</a></li>
      </ul>
    </li>
    <li>
      <img class="wt-diorama__hamburger link" src="images/wt-hamburger.svg">
      <div class="wt-diorama__small-menu">
        <div class="wt-diorama__close-hamburger link">
          <img src="images/wt-close-hamburger.svg">
        </div>
        <ul>
          <li><a href="/#downloads" class="link">White Paper</a></li>
          <li><a href="/token-sale.html" class="link">Líf Token</a></li>
          <li><a href="/#team" class="link">Team</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
